body{
    background: linear-gradient(to right, rgb(63, 150, 190),rgb(52, 52, 148), rgb(0, 89, 255));
    height: 100hv;
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

input, button{
    background-color: black;
    color: white;
    font-size: 1.5rem;
    border-radius: 16px;
    padding: 8px;
}